.container{
  position: absolute;
  top: 60px;
  left: 90px;
  width: calc(100% - 90px);
  height: calc(100% - 60px);
  background-color: rgba(0,0,0,0.4);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6999999;
  @media(max-width: 800px){
    left: 0px;
    width: calc(100%);
  }
  .text{
    z-index: 6999999;
    color: white;
    font-size: 28px;
    font-weight: bold;
  }
}