body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
#map{
    margin-top: 100px;
    margin-left: 200px;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
#map #square{
    position: absolute;
    background: green;
}
.active{
    fill: pink !important;
    opacity: 0.8;
}
/* Important */
  .field-image {
    pointer-events: none;
  }

#info{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 400px;
    background: #8d8686;
}
#info img{
    width: 100%;
}

#mini-map{
    /* background: red; */
    position: absolute;
    margin-top:10px;
    top: 0;
    left: 220px;
    border: 2px solid blue;
}