.menu {
  opacity: 1;
  width: 95px;
  min-height: 100vh;
  background: #14181d;
}

.coordinates {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  input {
    margin-top: 15px;
    width: 50px;
    height: 30px;
    color: black;
    padding: 4px;
  }
  input::placeholder {
    font-size: 14px;
    opacity: 0.7;
  }
}
.btn {
  margin-top: 20px;
  color: black;
  margin-left: 40px;
}


