body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.nav{
    opacity: 1;
    text-align: center;
    color: white;
    font-size: 24px;
    height: 60px;
    width: 100%;
    /* background:#14181d; */
    background:blue;
}
.container{
    display: flex;
}
.action{
    opacity: 1;
    border-left: 3px solid white;
    border-right: 3px solid white;
    z-index: 9999;
    top: 60px;
    left: 95px;
    position: absolute;
    width: 260px;
    height: 100vh;
    background:#1d232a;
    color: white !important;
    font-size: 32px;
}
.action input {
    
    transform: scale(2);
    margin-left: 30px;
    margin-right: 20px;
}
#map{
    /* width: calc(100vw - 95px - 130px);
    height: calc(100vh); */
    /* padding-top: 100px; */
    width: 1400px;
    height: calc(100vh);
    border: 1px solid black;
    position: relative;
    background: #1b2026;

    overflow: hidden;
}
#map #square{
    position: absolute;
    background: green;
}
.active{
    fill: pink !important;
    opacity: 0.8;
}
/* Important */
  .field-image {
    pointer-events: none;
  }
.info{
    /* background: #14181d; */
    width: 200px;
    z-index: 999 !important;
    
}
.ant-drawer-wrapper-body{
    
    font-weight: 700;
    background:#1d232a;
}
.ant-drawer-body{
    font-size: 30px !important;
    color: white;
}
.ant-drawer-wrapper-body img{
    height: 200px;
    margin-top: 20px;
}
.info img{
    width: 100%;
}

#mini-map{
    /* background: red; */
    position: absolute;
    margin-top:10px;
    top: 75px;
    left: 400px;
    border: 1px solid white;
}


/* ------------------------ */
.menu{
    opacity: 1;
    width: 95px;
    min-height: 100vh;
    background: #14181d;
}