body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.nav{
    opacity: 1;
    text-align: center;
    color: white;
    font-size: 24px;
    height: 60px;
    width: 100%;
    /* background:#14181d; */
    background:blue;
}
.container{
    display: flex;
}

#map{
    /* width: calc(100vw - 95px - 130px);
    height: calc(100vh); */
    /* padding-top: 100px; */
    
    width: 1400px;
    height: calc(100vh);
    border: 1px solid black;
    position: relative;
    background: #1b2026;

    overflow: hidden;
}
#map #square{
    position: absolute;
    background: green;
}
.active{
    fill: pink !important;
    opacity: 0.8;
}
/* Important */
  .field-image {
    pointer-events: none;
  }


#mini-map{
    /* background: red; */
    position: absolute;
    top: 70px;
    /* left: 400px; */
    transition:all 300ms ease;
    border: 2px solid white;
    
}
#mini-map svg{
    
}
#mini-map svg g{
    pointer-events: none;
}
/* #mini-map:before{
    content: " ";
  position: absolute;
  z-index: 10;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid white;
  pointer-events: none;
} */

/* ------------------------ */
.blur-field{
    z-index: 100 !important;
    pointer-events: none;
}
.selection{
    /* fill: none; */
    /* stroke: none; */
    cursor: default;
}
.overlay{
    /* pointer-events: none; */
}
#minimapRect{
    pointer-events: all;
    z-index: 9999999999999 !important;
}